/* homepage.css */
body {
  background-color: #161616; /* Set the background of the whole webpage to black */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default paddings */
}

.homepage-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-sizing: border-box;
}

.headline-text {
  font-family: 'Alegreya Sans SC', sans-serif; /* Use the name of the font you selected */
  color: #B3B3B3; /* Set the text color to plain white */
  font-size: 0.6rem; /* Adjust the font size as needed */
  font-weight: bold;
  word-spacing: 0.3rem; 
  margin-bottom: -1rem; /* Add some spacing between the texts */
}

.main-text {
  font-family: 'Fira Code', monospace; /* Use the name of the font you selected */
  color: white; /* Set the text color to plain white */
  font-size: 0.9rem; /* Adjust the font size as needed */
  font-weight: bold;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .headline-text {
    font-size: 0.4rem; /* Adjust the font size for smaller screens */
    margin-bottom: -1rem; /* Add some spacing between the texts */
  }

  .main-text {
    font-size: 0.5rem; /* Adjust the font size for smaller screens */
  }
}

.extension {
  background-color: #ffffff;
  padding: 20vh;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: calc(100vh - 400px); /* The remaining viewport height after the welcome message */
}