.rotating-square-container {
    position: absolute;
    top: 10vh; /* Adjust the top position to move the square down or up */
    right: 10vh; /* Adjust the right position to move the square left or right */
  }